<div class="row">
    <div class="col s6">
        <ul class="pagination">
            <li [ngClass]="{'disabled': disableLeftArrow, 'waves-effect': true}">
                <a href="#!" (click)="movePrev()"><i class="material-icons">chevron_left</i></a>
            </li>

            <li [ngClass]="{'waves-effect': i !== pageNum, 'active': i === pageNum}" *ngFor="let i of pageNumberList">
                <a href="#!" (click)="onChangePageNumber(i)">{{i}}</a>
            </li>

            <li [ngClass]="{'disabled': disableRightArrow, 'waves-effect': true}">
                <a href="#!" (click)="moveNext()"><i class="material-icons">chevron_right</i></a>
            </li>
        </ul>
    </div>
    <div class="input-field col s6">
        <select [ngModel]="pageSize" (ngModelChange)="onChangePageSize($event)">
            <option value="" disabled selected>Choose your option</option>
            <option [ngValue]="i" *ngFor="let i of pageSizeList">{{i}}</option>
        </select>
    </div>
</div>
