<table class="striped">
    <colgroup>
        <col style="width: 120px">
        <col>
        <col style="width: 200px">
        <col style="width: 520px">
        <col style="width: 60px">
    </colgroup>
    <thead>
        <template [ngTemplateOutlet]="headerTemplate.templateRef" [ngOutletContext]="{ $implicit: options.fields }"></template>
    </thead>
    <tbody>
    <template [ngTemplateOutlet]="rowTemplate.templateRef" [ngOutletContext]="{ $implicit: options.dataSource }"></template>

    </tbody>
    <tfoot>
    <template [ngTemplateOutlet]="paginationTemplate.templateRef" [ngOutletContext]="{ $implicit: options.pagination }"></template>
    </tfoot>
</table>
