<table class="striped">
    <colgroup>
        <col *ngFor="let item of options.fields" [ngStyle]="{'width': item.width + 'px'}">
    </colgroup>
    <thead>
    <template [ngTemplateOutlet]="paginationTemplate.templateRef" [ngOutletContext]="{ $implicit: options.pagination }"></template>
    </thead>
    <thead>
        <template [ngTemplateOutlet]="headerTemplate.templateRef" [ngOutletContext]="{ $implicit: options.fields }"></template>
    </thead>
    <tbody>
    <template [ngTemplateOutlet]="rowTemplate.templateRef" [ngOutletContext]="{ $implicit: options.dataSource }"></template>

    </tbody>
    <tfoot>
    <template [ngTemplateOutlet]="paginationTemplate.templateRef" [ngOutletContext]="{ $implicit: options.pagination }"></template>
    </tfoot>
</table>
