<td>
    <div *ngIf="!!data.meanings && !!data.meanings[0].picture && data.meanings[0].picture != 'http:'"><img
            src="{{data.meanings[0].picture}}" width="100"></div>
</td>
<td>
    <div>
        <div>
            <a href="#" (click)="_onClick($event, data)">{{data.word}}</a>
        </div>
        <div>
            <span *ngIf="!!data.transcription">[{{data.transcription}}]</span>
        </div>
    </div>
</td>
<td>
    {{data.meanings.length}}
</td>
<td>
    <div *ngIf="data.audio">
        <audio src="{{data.audio}}"></audio>
    </div>
</td>
<td>
    <span>{{data.date | date:'short'}}</span>
</td>