<div>
    <h1>Main page</h1>
    <div class="center-align">
        <form app-data-upload #uploadForm="ngForm" (ngSubmit)="onSubmit()"></form>
    </div>

    <kendo-grid
            [data]="view | async"
            [pageSize]="pageSize"
            [sortable]="{}"
            [sort]="sort"
            (sortChange)="sortChange($event)"
            [skip]="skip"
            [pageable]="true">
        <kendo-grid-column field="word" width="100"></kendo-grid-column>
        <kendo-grid-column field="transcription" width="200"></kendo-grid-column>
        <kendo-grid-column field="date" [sortable]="false">
        </kendo-grid-column>
    </kendo-grid>

</div>
